# generated html files
html/
# vim swap files
*.swp
# datasets
notebooks/dpts.txt
notebooks/prenoms.txt
notebooks/prenoms_sample.txt/
notebooks/depts.parquet/
notebooks/prenomsParDeptsEtAnnees.gzip.parquet/
notebooks/prenomsParDeptsEtAnnees.parquet/
notebooks/prenoms/
# jupyter temporary files
.local
notebooks/.ipynb_checkpoints/
# Python venv
/sparkenv/
/PROD/
